.section-title {
  font-family: $font-roboto;
  font-size: 38px;
  line-height: 46px;
  font-weight: 500;
  color: $pure-white;
}

.section-description {
  font-family: $font-lato;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: $pure-white;
  color: $grey90;
}
