.section-title {
  font-family: $font-roboto-medium;
  font-size: 38px;
  line-height: 46px;
  color: $pure-white;

  @screen lg {
    &.large {
      font-size: 45px;
      line-height: 56px;
    }
  }
}

.section-description {
  font-family: $font-lato;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: $pure-white;
  color: $grey90;
}
