// Font families
$font-lato: "Lato", sans-serif;
$font-roboto: "Roboto", sans-serif;

// Colors
$pure-white: #ffffff;
$pure-black: #000000;

$obsidian: #1d1e20;
$slate: #a7a6a6;
$alert: #ec6e63;
$midnight-blue: #1d1e3c;
$blue-steel: #9f9fab;
$dawn-blue: #f1fcff;
$deep-blue: #658de4;
$light-blue: #6b91e5;

$main-red: #ed796f;
$light-red: #dc3545;
$grey90: #e5e5e5;

// Content
$max-width: 1200px;
